<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <h1>{{ profile.firstName }} {{ profile.lastName }}</h1>
  <button type="button" class="btn-red pull-right" (click)="logout()">Logout</button>
</div>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
